* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "HelveticaNowDisplay", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
  font-weight: lighter;
  padding: 15px;
  background-color: #1588c9;
  color: #ffffff;
}
footer {
  text-align: center;
  padding: 20px;
  background-color: #f2f2f2;
  margin-top: 20px;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 40px;
  background: #050505;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid #000000;
}

.label-to-right header {
  font-size: 24px;
  font-weight: bold;
}

.label-to-middle ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.label-to-middle a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}

.label-to-left {
  display: flex;
  gap: 20px;
  font-size: 18px;
  cursor: pointer;
}
.banner .label-to-middle a:hover {
  text-decoration: underline;
}
.section {
  min-height: 75vh;
  background-image:
    linear-gradient(
      to left,
      rgba(255, 241, 235, 0.2),
      rgba(172, 224, 249, 0.9)
    ),
    url("../Gallery/apple-imac-iphone-opad.jpeg");
  background-size: cover;
  background-position: center;
}

.placeholder p {
  font-size: 16px;
  text-align: auto;
  font-size: 40px;
  padding-top: 250px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.placeholder {
  margin: 5px auto;
  padding-left: 80px;
  max-width: 600px;
}
.buttons {
  display: flex;
  padding: 10px;
  border-radius: 20px;
  gap: 20px;
  margin-top: 20px;
}

.get-productive,
.get-healthy {
  padding: 10px 20px;
  max-width: 140px;
  color: #ffffff;
  background-color: black;
  border-color: #000000;

  text-decoration: none;
  border-radius: 8px;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
img {
  display: block;
  width: 50px;
  height: 50px;
}
.images-jpg {
  display: grid;
  grid-template-columns: repeat(9, 80px);
  justify-content: center;
  gap: 80px;
  padding: 30px 0;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}

.icon-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

.icon-item img:hover {
  transform: scale(1.1);
}
